<p id="notice"><%= notice %></p>

<h1>Listing Search Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_categories.each do |search_category| %>
      <tr>
        <td><%= search_category.name %></td>
        <td><%= link_to 'Show', search_category %></td>
        <td><%= link_to 'Edit', edit_search_category_path(search_category) %></td>
        <td><%= link_to 'Destroy', search_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search category', new_search_category_path %>
