<h3>Поиск лучших цен:</h3>

<div class="items_box_head">

<% @categories.each do |kw| %>
    <%= hidden_field_tag "kw[#{kw.id}]", kw.keywords %>
  <% end %> 

<%= form_tag whouses_path, :method => 'get', :id => "note_search" do %>
  <div class="input-group left"> 
    <%= text_field_tag :search, params[:search], :class => "search_area txt" %>
  </div>
  <label class="checkbox">
     <%= check_box_tag :test, true, true %>
     <span>Тест</span>
  </label>
  <label class="combobox">
	<%= select_tag "search_category", content_tag(:option,'Категория...',:value=>0)+options_from_collection_for_select(@categories, "id", "name",:selected=>@param_category), {:class => 'select'} %> 
  </label>


<% end %>
</div>

<div class="goods_prices">
	<%= render "goods_prices" %>
</div>