<% provide(:title, 'Sign up') %>
<div class="signin">
<div class="hl hl_a bd">Новый пользователь</div>

 <%= form_for(@user) do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<div class="box_wrap box_wrap_1">
<div class="left">
    
  <table class="tbl_fc tbl_fc_1">
    <tr><td class="caption">Имя:</td>
        <td><div class="inp_w"><%= f.text_field :name, class: 'form-control' %></div></td></tr>
    <tr><td class="caption">E-mail:</td>
        <td><div class="inp_w"><%= f.text_field :email, class: 'form-control' %></div></td></tr>    
    <tr><td class="caption">Пароль:</td>
        <td><div class="inp_w"><%= f.password_field :password, class: 'form-control' %></div></td></tr>    

	<tr><td class="caption">Подтверждение:</td>
        <td><div class="inp_w"><%= f.password_field :password_confirmation, class: 'form-control' %></div></td></tr>    

    <tr><td class="caption"></td>
      <td><%= link_to 'Отмена', users_path, :class => "sub btn_a btn_reset"%>
        <%= f.submit 'Сохранить', :class => 'sub btn_a' %></td></tr>

  </table>
</div>
</div>  

    <% end %>
</div>