<div class="options-menu">
<div class="col-menu">

	<div class="panel panel-default">
	<div class="panel-heading">Настройки:</div>
			<%= option_link("elements","Элементы") %>
			<%= option_link("whouses","Склады") %>
			<%= option_link("search_categories","Объекты поиска") %>
			<%= option_link("search_sites","Сайты поиска") %>

  </div>
</div>

<div class="content">
	<%= render @page_render %>
<div class="sep_3"></div>
</div>

</div>
</div>