<div class="col-md-8 option_content">

<div class="sep_05"></div>
<%= form_for(@item) do |f| %>
<div class="itemAdd_form">
<label class="left"><%= new_item_header(@item.class.name) %>:</label>
<div class="inp left"><%= f.text_field :name, :class => 'txt' %><span class="sub btn btn-min btn-success mrg_l" id="btn-send"> Добавить</span></div>
</div>
<% end %>

<div class="sep_15"></div>

<div class="panel panel-default">
<div class="panel-heading table-heading"><%= list_header(@item.class.name) %></div>
<table class="table table-striped">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td></td>
        <%= sp_edit_delete(item, item.parents_count )%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>

