<div class="col-md-8 option_content">

<div class="sep_05"></div>
<%= form_for(@item, :html => {:class => 'simple_options_form'}) do |f| %>
<div class="itemAdd_form">
<label class="left"><%= new_item_header(@item.class.name) %>:</label>
<div class="inp left"><%= f.text_field :name, :class => 'txt' %><span class="sub btn btn-min btn-success right" id="btn-send"> Добавить</span></div>
</div>
<% end %>

<div class="sep_15"></div>

<% attrs = @item.attributes.except("id", "created_at", "updated_at") %>

<div class="panel panel-default">
<div class="panel-heading table-heading"><%= list_header(@item.class.name) %></div>
<table class="table table-striped" model="<%= @item.class.name %>">
  <thead>
  <% attrs.each do |attr| %>
  	<th fld='<%= attr[0] %>'><%= attr[0] %></th>
  <% end %>
  <th></th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <% attrs.each do |attr| %>
          <td><%= item[attr[0]] %></td>
        <% end %>
        <%= sp_edit_delete(item, item.parents_count )%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
</div>

