<!DOCTYPE html>
<html>
<head>
  <title>Warehouse & layouts</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->

  <%= javascript_include_tag "application" %> 
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container-all">

<% if current_user %>
  <%= render "menu" %>
<% end %>

<div class="container">
  <div class="flash">

  </div>
</div>


  <div class="container">
    <div class="col-80">
      <div class="span9"><%= yield %></div>
    </div>

  </div>
</div>

<div class="page-buffer"></div>
</div>

<div class="page-footer">
      <footer class="footer"><p>rm</p></footer>
</div>

  
</body>
</html>