<p id="notice"><%= notice %></p>

<h1>Listing Search Sites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_sites.each do |search_site| %>
      <tr>
        <td><%= search_site.name %></td>
        <td><%= link_to 'Show', search_site %></td>
        <td><%= link_to 'Edit', edit_search_site_path(search_site) %></td>
        <td><%= link_to 'Destroy', search_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search site', new_search_site_path %>
