<!DOCTYPE html>
<html>
<head>
  <title>Warehouse & layouts </title>
  <%= javascript_include_tag "application" %> 
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container-all">

<% if current_user %>
  <%= render "menu" %>
<% end %>


<div class="js-notes has-note">
  <%= flash_messages %>
  <a class="close note-close" href="#"></a>
</div>

<div class="container bs-docs-container">
	<%= yield %>
</div>

</body>
</html>
